.app-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: HK Grotesk;
  color: #292626;
  padding: 0px 20px 20px 20px;
  background-color: #eaeef3;
  height: 100vh;
}
.header-container {
  border-bottom: 1px dotted #292626;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  flex-grow: 1;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.border-line {
  width: 100%;

  border-top: 1px dotted #292626;
}
.header-main-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-heading {
  font-weight: bold;
  font-size: 24px;
  margin: 5px 0px;
}
.logo-capsule {
  height: 30px;
  margin-right: 10px;
}
.medicine-appearance {
  height: 30px;
  margin-top: 10px;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.heading {
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
}

.sub-heading {
  color: #939599;
  font-size: 16px;
  margin-bottom: 5px;
}
.patient-details {
  color: #292626;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.all-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}
.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
}
.medication-container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  overflow-y: auto;
}
.medicine-container {
  border-bottom: 1px dotted #292626;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.tablet-image {
  height: 45px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.tablet-appearance {
  margin-bottom: 5px;
  margin-top: 5px;
}
.tablet-name {
  margin-bottom: 5px;
}
.sections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
}
.left-section {
  flex-grow: 1;
  width: 30%;
  padding: 10px;
}
.middle-section {
  border-left: 1px dotted #292626;
  border-right: 1px dotted #292626;
  flex-grow: 1;
  height: 100%;

  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px 20px 10px 20px;
}
.right-section {
  border-right: 1px dotted #292626;
  flex-grow: 1;
  width: 30%;
  padding: 10px 10px 10px 25px;
}
.medication_reason {
  font-weight: bold;
  margin-top: 5px;
}

.side-effect-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.side-effect-heading {
  font-weight: bold;
  margin: 0px;
}
.medical-help-heading {
  margin-top: 35px;
  margin-bottom: 5px;
}
.directions-of-usage {
  font-size: 22px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}
.detailed-directions {
  margin-top: 5px;
}
.timingsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-height: 50px;
  background-color: #e6e7e9;
  align-self: stretch;
  border: 1px solid #a1a2a5;
  padding: 5px 10px 5px 10px;
  flex-grow: 1;
}
.tabletscontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-height: 50px;
  align-self: stretch;
  padding: 5px 10px 5px 10px;
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 15px;
}
.tablets-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
