table {
  border-spacing: 0;
  border: 1px solid #d7dfe9;
  background-color: white;
}

th {
  color: #171f46;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.12px;
  border-bottom: 1px solid #d7dfe9;
  border-right: 1px solid #d7dfe9;
  text-align: center;
  margin: 0;
  padding: 10px;
}
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #d7dfe9;
  border-right: 1px solid #d7dfe9;
  text-align: center;
  font-family: HK Grotesk;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #7e858e;
  padding: 10px;
}
